page-numeric-display {
  .activeGo {
    font-family: selawksb;
    font-size: 16.0rem;
    margin: -40px 0 0 0;
    color: appColor( go );
  }

  .activeGetReady, .activeLoaded {
    @extend .activeGo;
    color: appColor( getready );
  }

  .activeStop {
    @extend .activeGo;
    font-size: 10.0rem;
    color: appColor( go );
  }

  .activeCompleted {
    @extend .activeGo;
    color: appColor( primary );
  }

  .restGo {
    font-family: selawksb;
    font-size: 16.0rem;
    margin: -40px 0 0 0;
    color: appColor( stop );
  }

  .restStop {
    @extend .restGo;
    font-size: 10.0rem;
  }

  .restGetReady, .restLoaded {
    @extend .restStop;
    color: appColor( getready );
  }

  .restCompleted {
    @extend .restGo;
    color: appColor( primary );
  }

  .intervalGo {
    font-family: selawksb;
    font-size: 14.0rem;
    margin: 0 0 0 0;
    color: appColor( go );
  }

  .intervalGetReady, .intervalLoaded{
    @extend .intervalGo;
    color: appColor( getready );
  }

  .intervalStop {
    @extend .intervalGo;
    color: appColor( stop );
  }

  .intervalCompleted {
    @extend .intervalGo;
    color: appColor( primary );
  }

  .timeGo {
    font-family: selawksb;
    font-size: 10.0rem;
    margin: 0 0 0 0;
    color: appColor( go );
  }

  .timeGetReady, .timeLoaded{
    @extend .timeGo;
    color: appColor( getready );
  }

  .timeStop {
    @extend .timeGo;
    color: appColor( stop );
  }

  .timeCompleted {
    @extend .timeGo;
    color: appColor( primary );
  }
}
