page-numeric-display {
  .activeGo {
    font-family: selawksb;
    font-size: 16.0rem;
    margin: -40px 0 0 0;
    color: appColor( go );
  }

  .activeGetReady {
    @extend .activeGo;
    color: appColor( getready );
  }

  .activeStop {
    @extend .activeGo;
    color: appColor( stop );
  }

  .restGo {
    font-family: selawksb;
    font-size: 16.0rem;
    margin: -40px 0 0 0;
    color: appColor( go );
  }

  .restGetReady {
    @extend .restGo;
    color: appColor( getready );
  }

  .restStop {
    @extend .restGo;
    color: appColor( stop );
  }

  .intervalGo {
    font-family: selawksb;
    font-size: 14.0rem;
    margin: 0 0 0 0;
    color: appColor( go );
  }

  .timeGo {
    font-family: selawksb;
    font-size: 14.0rem;
    margin: 0 0 0 0;
    color: appColor( go );
  }
}
