$font-size-active-portrait : 9vw;
$font-size-active-landscape : 9vh;
$font-size-rest-portrait : 6vw;
$font-size-rest-landscape : 6vh;
$font-size-interval-portrait : 6vw;
$font-size-interval-landscape : 6vh;
$font-size-totaltime-portrait : 6vw;
$font-size-totaltime-landscape: 6vh;
$font-size-countdown-portrait : 5vw;
$font-size-countdown-landscape: 5vh;
page-interval-settings {
  .content-md {
    background-color: appColor( black-3);
  }
  .item-md.item-block .item-inner {
    border-bottom: 1px;
  }
  ion-label,
  ion-input {
    font-family: selawk;
    @media screen and (orientation: portrait) {
      font-size: $font-size-countdown-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-countdown-landscape;
    }
    color: appColor( light);
  }
  ion-range {
    margin: 5px 0;
  }
  ion-range,
  ion-toggle {
    background-color: $home-bg-button-fill;
  }
}

page-interval-settings>ion-header {
  position: relative;
  .toolbar-background-md {
    background-color: appColor( black-2);
  }
}

page-interval-settings>ion-content {
  div.fixed-content[style^="margin-top"],
  div.scroll-content[style^="margin-top"] {
    margin-top: 0px !important;
  }
  .div-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    ion-grid {
      width: 50% !important;
    }
  }
  ion-icon {
    color: appColor( light);
    width: 24px;
    height: 24px;
  }
  .item-md {
    background-color: inherit;
  }
  .go-color {
    color: appColor( go);
  }
  .stop-color {
    color: appColor( stop);
  }
  .active {
    font-family: selawksb;
    @media screen and (orientation: portrait) {
      font-size: $font-size-active-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-active-landscape;
    }
    color: appColor( go);
  }
  .rest {
    font-family: selawksb;
    @media screen and (orientation: portrait) {
      font-size: $font-size-rest-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-rest-landscape;
    }
    color: appColor( stop);
  }
  .interval {
    font-family: selawk;
    @media screen and (orientation: portrait) {
      font-size: $font-size-interval-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-interval-landscape;
    }
    color: appColor( go);
  }
  .totaltime {
    font-family: selawk;
    @media screen and (orientation: portrait) {
      font-size: $font-size-totaltime-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-totaltime-landscape;
    }
    color: appColor( go);
  }
  .countdown {
    font-family: selawk;
    @media screen and (orientation: portrait) {
      font-size: $font-size-countdown-portrait;
    }
    @media screen and (orientation:landscape) {
      font-size: $font-size-countdown-landscape;
    }
    margin-left: 20px;
    color: appColor( light);
  }
}
