<ion-header>
  <ion-toolbar>
    <ion-input *ngIf="data" (ionBlur)="dataChanged('name')" [(ngModel)]="data.name" type="text"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data" padding>
  <div class="mini-display">
    <div class="div-grid">
      <ion-grid>
        <ion-row justify-content-start nowrap>
          <ion-col align-self-baseline>
            <div class="active">{{data.activerest.upper}}</div>
          </ion-col>
          <ion-col align-self-baseline>
            <div class="rest">\/{{data.activerest.lower}}</div>
          </ion-col>
          <ion-col col-10 col-auto></ion-col>
        </ion-row>
        <ion-row justify-content-end nowrap>
          <ion-col col-11 col-auto></ion-col>
          <ion-col align-self-baseline>
            <div class="interval">1\/{{data.intervals}}</div>
          </ion-col>
        </ion-row>
        <ion-row justify-content-start>
          <ion-col>
            <div class="totaltime">{{totaltime}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="countdown">{{countdownLabel}} secs (countdown to start)</div>
  </div>
  <div *ngIf="data">
    <ion-item-group>
      <ion-item-divider>Interval Timer Settings</ion-item-divider>
      <!-- activerest -->
      <ion-item>
        <ion-range (ionChange)="dataChanged('activerest')" debounce="500" [(ngModel)]="data.activerest" min="5" max="70" step="5"
          snaps="true" pin="true" dualKnobs="true">
          <ion-label range-left>rest/active</ion-label>
        </ion-range>
      </ion-item>

      <!-- interval -->
      <ion-item>
        <ion-range (ionChange)="dataChanged('intervals')" debounce="500" [(ngModel)]="data.intervals" min="1" [max]="data.intervalmaxlimit"
          step="1" snaps="true" pin="true">
          <ion-label range-left>intervals</ion-label>
        </ion-range>
      </ion-item>

      <!-- countdown -->
      <ion-item>
        <ion-range (ionChange)="dataChanged('countdown')" debounce="500" [(ngModel)]="data.countdown" min="5" [max]="data.countdownmaxlimit"
          step="5" snaps="true" pin="true">
          <ion-label range-left>countdown</ion-label>
        </ion-range>
      </ion-item>
    </ion-item-group>

    <!-- warnings -->
    <ion-item-group>
      <ion-item-divider>
        Active Countdown Warnings
        <button *ngIf="appSoundsDisabled || appVibratorDisabled" ion-button item-end clear
                (click)="inform()" >
          <ion-icon class="material-icons" color="information">warning</ion-icon>
        </button>
      </ion-item-divider>
      <ion-item>
        <ion-toggle (ionChange)="dataChanged('fivesecond')" [(ngModel)]="data.warnings.fivesecond"></ion-toggle>
        <ion-label>5 second warning</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle (ionChange)="dataChanged('tensecond')" [(ngModel)]="data.warnings.tensecond"></ion-toggle>
        <ion-label>10 second warning</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle (ionChange)="dataChanged('fifthteensecond')" [(ngModel)]="data.warnings.fifthteensecond"></ion-toggle>
        <ion-label>15 second warning</ion-label>
      </ion-item>
    </ion-item-group>

  </div>
</ion-content>
