<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="actionRequest(FA.Main)" color="primary">
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="actionRequest(FA.Start)" [style.display]="isStartVisible ? 'block' : 'none'"
      color="primary">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="actionRequest(FA.Pause)" [style.display]="isPauseVisible ? 'block' : 'none'"
      color="primary">
      <ion-icon name="pause"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="actionRequest(FA.Reset)" [style.display]="isResetVisible ? 'block' : 'none'"
      color="primary">
      <ion-icon name="undo"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="actionRequest(FA.Program)" [style.display]="isProgramVisible ? 'block' : 'none'"
      color="primary">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="actionRequest(FA.Home)" [style.display]="isHomeVisible ? 'block' : 'none'" color="primary"
      size="undefined">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>