// statusbar on device will overlay the title if this isnt in place.
ion-header.header-md ion-toolbar:first-child { padding-top: 25px !important; }

.top-divider {
    padding-left: unset;
}

ion-icon {
    color: var(--ion-color-warning);
}

ion-label, ion-range {
    // this property is lost in the shadow, hence the important
    font-size: inherit !important;
}

ion-range {
    // to maximize length. this property is lost in the shadow, hence the important
    padding-left: 0px !important;
}

// currently ion-range has a unstyled sub-component when disabled. so this serves the same purpose
.disableRange {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: .25;
}