page-home {
  .content-md {
    background-color: #1a1a1a;
  }
}
page-home > ion-header {
  position: relative;
  .toolbar-background-md {
    background-color: #2d2d2d;
  }
}

page-home > ion-content {
  .item-md {
    background-color: inherit;
  }

  ion-icon {
    font-size: 10.2em;
  }

  .material-icons {
    font-size: 10.2em;
  }
}
