<ion-content class="display-content" scrollX="false" scrollY="false" *ngIf="uuidData">
  <div>
    <ion-grid>
      <ion-row class="top-row">
        <ion-col>
          <div [ngSwitch]="timerState">
            <div *ngSwitchCase="SS.Loaded" class="timeLoaded">
              <p>{{formattedGrandTime}}</p>
            </div>
            <div *ngSwitchCase="SS.CountdownWarning" class="timeCountdown">
              <p>{{formattedGrandTime}}</p>
            </div>
            <div *ngSwitchCase="SS.Active" class="activeGo">
              <p>{{formattedGrandTime}}</p>
            </div>
            <div *ngSwitchCase="SS.ActiveWarning" class="activeGetReady">
              <p>{{formattedGrandTime}}</p>
            </div>
            <div *ngSwitchCase="SS.Completed" class="timeCompleted">
              <p>{{formattedGrandTime}}</p>
            </div>
            <div *ngSwitchCase="SS.Error" class="timeStop">:?</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<fab-container (action)="action($event)"></fab-container>