<ion-content class="display-content" scrollX="false" scrollY="false">
  <ion-grid *ngIf="uuidData">
    <ion-row class="top-row">
      <ion-col>
        <activerest-renderer [state]="timerState" [limits]="uuidData.activerest"></activerest-renderer>
      </ion-col>
      <ion-col class="top-end-col">
        <div [ngSwitch]="timerState">
          <div *ngSwitchCase="SS.CountdownWarning" class="intervalCountdown">1/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Loaded" class="intervalLoaded">1/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Active" class="intervalGo">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.ActiveWarning" class="intervalGetReady">{{currentInterval}}/{{uuidData.intervals}}
          </div>
          <div *ngSwitchCase="SS.Rest" class="intervalStop">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.RestWarning" class="intervalGetReady">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Completed" class="intervalCompleted">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Error" class="intervalStop">:/</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="middle-row">
      <ion-col class="middle-col">
        <div [ngSwitch]="timerState">
          <div *ngSwitchCase="SS.CountdownWarning" class="intervalCountdown">1/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Loaded" class="intervalLoaded">1/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Active" class="intervalGo">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.ActiveWarning" class="intervalGetReady">{{currentInterval}}/{{uuidData.intervals}}
          </div>
          <div *ngSwitchCase="SS.Rest" class="intervalStop">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.RestWarning" class="intervalGetReady">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Completed" class="intervalCompleted">{{currentInterval}}/{{uuidData.intervals}}</div>
          <div *ngSwitchCase="SS.Error" class="intervalStop">:/</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-row">
      <ion-col class="bottom-col">
        <div [ngSwitch]="timerState">
          <div *ngSwitchCase="SS.CountdownWarning" class="timeCountdown">{{grandTime}}</div>
          <div *ngSwitchCase="SS.Loaded" class="timeLoaded">{{grandTime}}</div>
          <div *ngSwitchCase="SS.Active" class="timeGo">{{grandTime}}</div>
          <div *ngSwitchCase="SS.ActiveWarning" class="timeGetReady">{{grandTime}}</div>
          <div *ngSwitchCase="SS.Rest" class="timeStop">{{grandTime}}</div>
          <div *ngSwitchCase="SS.RestWarning" class="timeGetReady">{{grandTime}}</div>
          <div *ngSwitchCase="SS.Completed" class="timeCompleted">{{grandTime}}</div>
          <div *ngSwitchCase="SS.Error" class="timeStop">:?</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<fab-container (action)="action($event)"></fab-container>