$font-size-go-portrait: 60vw;
$font-size-go-landscape: 50vh;
$font-size-stop-portrait: 15vw;
$font-size-stop-landscape: 10vh;
$font-size-interval-portrait: 25vw;
$font-size-interval-landscape: 25vh;
$font-size-time-portrait: 25vw;
$font-size-time-landscape: 25vh;

.display-content {
    .top-row {
      @media screen and (orientation: portrait) {
        display: grid;
      }
      @media screen and (orientation:landscape) {
        display: flex;
      }
      align-items: baseline;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .middle-row {
      @media screen and (orientation: portrait) {
        display: grid;
      }
      @media screen and (orientation:landscape) {
        display: none;
      }
      align-items: baseline;
      justify-content: end;
      flex-wrap: nowrap;
    }
    .bottom-row {
      display: grid;
      align-items: baseline;
      justify-content: start;
      flex-wrap: nowrap;
    }

    .top-end-col {
      @media screen and (orientation: portrait) {
        display: none;
      }
      @media screen and (orientation:landscape) {
        display: grid;
      }
      justify-items: end;
    }

    // Below exclusively adjusts font-size and color 

    .intervalGo {
      @media screen and (orientation: portrait) {
        font-size: $font-size-interval-portrait;
      }
      @media screen and (orientation:landscape) {
        font-size: $font-size-interval-landscape;
      }
      color: var(--ion-color-success);
    }
    .intervalGetReady,
    .intervalLoaded {
      @extend .intervalGo;
      color: var(--ion-color-warning);
    }
    .intervalStop {
      @extend .intervalGo;
      color: var(--ion-color-danger);
    }
    .intervalCountdown {
      @extend .intervalGo;
      color: var(--ion-color-warning);
    }
    .intervalCompleted {
      @extend .intervalGo;
      color: var(--ion-color-primary);
    }
    
    .timeGo {
      @media screen and (orientation: portrait) {
        font-size: $font-size-time-portrait;
      }
      @media screen and (orientation:landscape) {
        font-size: $font-size-time-landscape;
      }
      color: var(--ion-color-success);
    }
    .timeGetReady,
    .timeLoaded,
    .timeCountdown {
      @extend .timeGo;
      color: var(--ion-color-warning);
    }
    .timeStop {
      @extend .timeGo;
      color: var(--ion-color-danger);
    }
    .timeCompleted {
      @extend .timeGo;
      color: var(--ion-color-primary);
    }
}
