$accent-theme-monokai: (
  primary: (
    base: #67daff,
    contrast: #eeeeee
  ),
  secondary: (
    base: #9ce7fd,
    contrast: #eeeeee
  ),
  go: #a6e22e,
  stop: #f92672,
  getready: #e6db74,
  light: #f4f4f4
);
