$accent-theme-RGBandY: (
  name: 'accent-theme-RGBandY',
  primary: (
    base: #03a9f4,
    contrast: #eeeeee
  ),
  secondary: (
    base: #67daff,
    contrast: #eeeeee
  ),
  go: #4caf50,
  stop: #f44336,
  getready: #ffc107,
  light: #eeeeee
);
