// https://material.io/guidelines/style/color.html#color-themes
$base-theme-light: (
  name: 'base-theme-light',
  strongest: #e0e0e0,
  strong: #f5f5f5,
  weak: #fafafa,
  weakest: #ffffff,
  information : #ffc107, // Amber - 500
  contrast: #212121
);
