@function theme-map-get($accent, $base) {
  $colors: map-merge($accent, $base);
  $base-name: map-get($base, name);

  $primary: color($colors, primary);
  $secondary: color($colors, secondary);
  $go: color($colors, go);
  $stop: color($colors, stop);
  $getready: color($colors, getready);
  $light: color($colors, light);

  $strongest: color($colors, strongest);
  $strong: color($colors, strong);
  $weak: color($colors, weak);
  $weakest: color($colors, weakest);
  $information: color($colors, information);

  $text-color: if($base-name == 'base-theme-dark', lighten($weakest, 40%), darken($weakest, 50%));

  @return (
    primary: $primary,
    secondary: $secondary,
    go: $go,
    stop: $stop,
    getready: $getready,
    light: $light,
    strongest: $strongest,
    strong: $strong,
    weak: $weak,
    weakest: $weakest,
    information: $information,

    // when the countdown is attached to the beginning of a sequence, dim the display.
    display-disabled: transparentize( lighten($getready, 10%), .8),
    text-color: $text-color,
    toggle-deactive: if($base-name == 'base-theme-dark', darken($text-color, 25%), lighten($text-color, 25%)),
    side-background: $weak,
    side-toolbar-background: $strong,
    display-background-color: if($base-name == 'base-theme-dark', $strongest, #fff)
  );
}
