@function theme-map-get($accent, $base) {
  $colors: map-merge($accent, $base);

  $primary: color($colors, primary);
  $secondary: color($colors, secondary);
  $go: color($colors, go);
  $stop: color($colors, stop);
  $getready: color($colors, getready);
  $light: color($colors, light);

  $strongest: color($colors, strongest);
  $strong: color($colors, strong);
  $weak: color($colors, weak);
  $weakest: color($colors, weakest);

  @return (
    primary: $primary,
    secondary: $secondary,
    go: $go,
    stop: $stop,
    getready: $getready,
    light: $light,
    strongest: $strongest,
    strong: $strong,
    weak: $weak,
    weakest: $weakest,
    background-color: $strongest,
    side-background: $weak,
    side-toolbar-background: $strong,
    button-ios-background-color: $weakest,
    button-md-background-color: $weakest,
    button-wp-background-color: $weakest,
    home-icon-fill: $primary,
    // used on home page for the (rest) interval icon, to differeniate the two types.
    home-icon-fill-light: lighten($primary, 30%),
    // when the countdown is attached to the beginning of a sequence, dim the display.
    display-disabled: transparentize(lighten($go, 10%), .8),
    toggle-ios-handle-background-color-off: $light,
    toggle-md-handle-background-color-off: $light,
    toggle-wp-handle-background-color-off: $light,
    toolbar-io-background: $strong,
    toolbar-md-background: $strong,
    toolbar-wp-background: $strong,
    toolbar-title-text-color: color-contrast($colors, $strong),
    // ion-item
    list-background-color: $weak,
    item-ios-divider-background: $strong,
    item-md-divider-background: $strong,
    item-wp-divider-background: $strong
  );
}
