// overriding build/main.css (line: ~4994) since this app
// is sensitive to viewport sizes and needs specific font sizes

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size-adjust: none;
}

@font-face {
  font-family: 'selawk';
  src: url('#{$font-path}/selawk.ttf') format('truetype');
 }

@font-face {
  font-family: 'selawksb';
  src: url('#{$font-path}/selawksb.ttf') format('truetype');
 }

@font-face {
  font-family: 'sourcecodeprosb';
  src: url('#{$font-path}/SourceCodePro-Semibold.ttf') format('truetype');
 }

 @function appColor($name) {
  @return color($colors, $name);
 }

 ion-nav {
  box-shadow: rgba(0, 0, 0, 0.2) 0em 0em 3px 3px;
 }
