<ion-app>
  <!-- <ion-split-pane> -->
  <ion-menu side="start">
    <ion-menu-toggle>
      <ng-template #leftMenuInnerHTML></ng-template>
    </ion-menu-toggle>
  </ion-menu>
  <div>app.component.html</div>
  <ion-router-outlet main></ion-router-outlet>
  <!--  </ion-split-pane> -->
  <ion-menu side="end">
    <ion-menu-toggle>
      <ng-template #rightMenuInnerHTML></ng-template>
    </ion-menu-toggle>
  </ion-menu>
</ion-app>

<!--       <ion-content>
            <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-content> -->