// overriding build/main.css (line: ~4994) since this app
// is sensitive to viewport sizes and needs specific font sizes
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

@font-face {
  font-family: 'selawk';
  src: url('#{$font-path}/selawk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

 @font-face {
  font-family: 'selawksb';
  src: url('#{$font-path}/selawksb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

 @function appColor($name) {
  @return color($posh_monokai_colors, $name);
 }
