@mixin theme-map-apply ($map) {
  .content-ios, .content-md, .content-wp {
    background-color: map-get($map, side-background);
  }

  ion-navbar > button, .toolbar-title {
    color: map-get($map, toolbar-title-text-color);
  }

  ion-item-divider,
  ion-item {
    background-color: map-get($map, weak);
  }
  ion-label,
  ion-input {
    font-family: selawk;
    color: map-get($map, toolbar-title-text-color);
  }

  .ait-brand {
    font-family: 'sourcecodeprosb';
    color: map-get($map, contrast)
  }
}

.theme-light page-app-settings {
  $map: theme-map-get($accent-theme-RGBandY, $base-theme-light);
  @include theme-map-apply($map);
}

.theme-dark page-app-settings {
  $map: theme-map-get($accent-theme-RGBandY, $base-theme-dark);
  @include theme-map-apply($map);
}
