
page-app-settings {
  .content-ios, .content-md, .content-wp {
    background-color: $side-background;
  }

  ion-label,
  ion-input {
    font-family: selawk;
    color: $toolbar-title-text-color;
  }

  .item-ios, .item-md, .item-wp {
    background-color: transparent !important;
  }
}
