<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="items">
    <ion-item [routerLink]="['/home']">
      HOME
    </ion-item>
    <ion-item [routerLink]="['/interval']">
      INTERVAL
    </ion-item>
    <ion-item [routerLink]="['/timer']">
      TIMER
    </ion-item>
    <ion-item [routerLink]="['/stopwatch']">
      STOPWATCH
    </ion-item>
    <ion-item [routerLink]="['/settings']">
      APP-SETTINGS
    </ion-item>
  </ion-list>
</ion-content>