

@mixin theme-map-apply ($map) {
  /*
  $font-size-time-portrait:         60vw;
$font-size-time-landscape:        50vh;
    .timeGo {
    font-family: selawk;
    @media screen and (orientation:portrait) { font-size: $font-size-time-portrait; }
    @media screen and (orientation:landscape) { font-size: $font-size-time-landscape; }
    color: map-get($map, go);
  }

  .timeGetReady, .timeLoaded, .timeCountdown{
    @extend .timeGo;
    color: map-get($map, getready);
  }

  .timeStop {
    @extend .timeGo;
    color: map-get($map, stop);
  }

  .timeCompleted {
    @extend .timeGo;
    color: map-get($map, primary);
  }
  */
}

.theme-light-rgbandy page-interval-display {
  $map: theme-map-get($accent-theme-RGBandY, $base-theme-light);
  @include theme-map-apply($map);
}

.theme-dark-rgbandy page-interval-display {
  $map: theme-map-get($accent-theme-RGBandY, $base-theme-dark);
  @include theme-map-apply($map);
}


.theme-light-monokai page-interval-display {
  $map: theme-map-get($accent-theme-monokai, $base-theme-light);
  @include theme-map-apply($map);
}

.theme-dark-monokai page-interval-display {
  $map: theme-map-get($accent-theme-monokai, $base-theme-dark);
  @include theme-map-apply($map);
}
