<ion-header>
    <ion-toolbar>
        <ion-title>ITEM DETAILS</ion-title>
        <ion-buttons slot="start" *ngIf="item$ | async as item">
            <ion-back-button text="" icon="add" (click)="gotoList(item)"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="item$ | async as item">
    <ion-item>
        <ion-label position="stacked">Title:</ion-label>
        <ion-input [(ngModel)]="item.title" placeholder="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Note:</ion-label>
        <ion-input [(ngModel)]="item.note" placeholder="note"></ion-input>
    </ion-item>
</ion-content>